* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

#wrapper {
    margin: 20px auto;
    padding: 15px;
    max-width: 960px;
    background-color: #fff;
}

header {
    padding: 10px;
    background-color: #c51417;
    margin-bottom: 10px;
}

header p {
    float: right;
    margin: 0px;
    color: #fff;
    font-style: italic;
    font-size: 1.2em;
}

nav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 13px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #c51417;
}

.social-networks {
    float: right;
    background-color: #333;
    color: #fff;
    padding: 10px 13px;
    font-size: 18px;
}

.social-networks a {
    background-color: #333;
    color: #fff;
}

.social-networks i:hover {
    color: #c51417;
}

main {
    width: 700px;
    float: left;
}

aside {
    width: 240px;
    float: right;
}

aside h3 {
    background-color: #bbb;
    color: #fff;
    padding: 5px;
}

footer {
    clear: both;
    padding: 5px;
    background-color: #333;
    margin-top: 10px;
}

footer p {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 0.7em;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.col1 {
    width: 25%;
    float: left;
    margin-top: 5px;
    padding: 9px 0px;
}

.col2 {
    width: 75%;
    float: left;
    margin-top: 5px;
}

#fname, #lname, #country, #subject {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#submit {
    float: right;
    color: #fff;
    border: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}